<div class="logo-container">
  <img
    src="https://micrositesstorge.blob.core.windows.net/animalhealth/assets/Microsoft_Teams_image_1_b3be05013a.png"
    alt="EVA Pharma Logo"
  />
</div>

<div class="containers">
  <ngx-scanner-qrcode
    #action="scanner"
    [config]="config"
    (event)="onEvent($event, action)"
    class="scanner"
  ></ngx-scanner-qrcode>

  <p *ngIf="action.isLoading" class="loading-text">⌛ Loading...</p>

  <button
    class="btn scanner-btn"
    [class.btn-info]="!action.isStart"
    [class.btn-warning]="action.isStart"
    [disabled]="action.isLoading"
    (click)="handle(action, action.isStart ? 'stop' : 'start')"
  >
    <img
      class="camera-icon"
      [src]="
        action.isStart
          ? 'https://id1945.github.io/images/svg/camera-off.svg'
          : 'https://id1945.github.io/images/svg/camera-on.svg'
      "
      width="60px"
    />
  </button>
</div>

<div id="confirmationModal" class="modal" *ngIf="showModal">
  <div class="modal-content">
    <span class="close" (click)="onCancel()">&times;</span>
    <p>Scanned Information:</p>
    <p><strong>ID:</strong> {{ scannedData.EmployeeId }}</p>
    <p><strong>Name:</strong> {{ scannedData.FullName }}</p>
    <button class="confirm-btn" (click)="onConfirm()">Confirm</button>
    <button class="cancel-btn" (click)="onCancel()">Cancel</button>
  </div>
</div>
<div id="redemptionModal" class="modal" *ngIf="serveMeal && redeemedOrnot">
  <div class="modal-content">
    <span class="close" (click)="onCancel()">&times;</span>
    <p *ngIf="redeemedOrnot">
      <strong>{{ redeemMessages.accept }}</strong>
    </p>
    <button class="confirm-btn" (click)="onCancel()">confirm</button>
  </div>
</div>
<div id="redemptionModal" class="modal" *ngIf="serveMeal && !redeemedOrnot">
  <div class="modal-content">
    <span class="close" (click)="onCancel()">&times;</span>
    <p>
      <strong>{{ redeemMessages.reject }}</strong>
    </p>
    <button class="cancel-btn" (click)="onCancel()">Cancel</button>
  </div>
</div>
